body {
  --theme: #ff7b26;
  --blue: #175ef8;
  --gray-text: #808080;

  --gradient: linear-gradient(to right, var(--theme), hsl(24deg 100% 67%));
}

.theme {
  --content-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  --hover-highlight: rgba(0, 0, 0, 0.05);

  /* LIGHT MODE */
  --background-primary: #fcfcfc;
  --background-secondary: #f7f7f7;
  --background-tertiary: #cfcfcf;

  --switch-background: #888;
  --switch-inner-background: #fff;

  --button-border: #aaa;

  --content-text: #000;
  --description-text: #444;
  --blue-text: var(--blue);

  --button-hover-background: #d4d3d3;
}

.darkTheme {
  --content-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  --hover-highlight: rgba(255, 255, 255, 0.05);

  --background-primary: #222;
  --background-secondary: #2a2a2a;
  --background-tertiary: #333;

  --switch-background: #111;
  --switch-inner-background: #aaa;

  --button-border: #000;

  --content-text: #fff;
  --description-text: #ddd;
  --blue-text: #33c3ff;

  --button-hover-background: #1a1a1a;
}
