.lightTheme {
  --content-background: #f7f7f7;
  --control-border: #aaa;

  /* Button */
  --button-background: #ecebeb;
  --button-hover-background: #d4d3d3;

  --content-text: #000;
}

.darkTheme {
  /* Content */
  --content-background: #2a2a2a;
  --content-text: #fff;

  --control-border: #000;
  --page-background: #222;

  /* Button */
  --button-background: #222;
  --button-hover-background: #1a1a1a;
}
